.arrow {
	width: 72px;
	height: 72px;
	cursor: pointer;

	&_position-absolute {
		position: absolute;
	}

	&_left-50-percents {
		left: 0;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	&_right-50-percents {
		right: 0;
		top: 50%;
		transform: translateX(50%) translateY(-50%);
	}
}