.choosing-seats {
	margin-top: 24px;

	&__header {
		font-size: 36px;
		font-weight: 700;
		color: #333333;
	}

	&__descr {
		margin-top: 18px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: #5A637A;
	}

	&__movie-screen {
		margin-top: 102px;
		width: 100%;
		height: 60px;
		background-color: #118EEA;
		color: #fff;
		text-align: center;
		padding-top: 16px;
		font-size: 24px;
		font-weight: 700;
	}

	&__preview {
		width: 1096px;
		margin: 0 auto;
		margin-top: 64px;
		display: flex;
		justify-content: space-between;
		// align-items: center;
		padding-bottom: 136px;
	}

	&__info {
		width: 255px;
	}

	&__title {
		font-size: 18px;
		font-weight: 500;
		color: #5A637A;
	}

	&__current-selection {
		font-size: 36px;
		font-weight: 700;
		color: #333333;
	}

	&__button {
		width: 216px;
		height: 48px;
		border-radius: 5px;
		border-width: 1px;
		background-color: #fff;
		cursor: pointer;
		transition: all 0.5s;
		text-align: center;
		text-decoration: none;

		&:disabled {
			background-color: #bbb;
			border: none;
			color: #000;
		}

		&_pt-12 {
			padding-top: 12px;
		}

		&_reset {
			font-size: 20px;
			font-weight: 500;
			color: #5A637A;
		}

		&_confirm {
			font-size: 20px;
			font-weight: 500;
			background-color: #1A2C50;
			border-color: #1A2C50;
			color: #FFBE00;
		}
	}
}