.divider {
	width: 100%;
	height: 1px;
	background-color: #C4C4C4;

	&_mt {
		margin-top: 22px;
	}

	&_mt-17 {
		margin-top: 17px;
	}

	&_mt-24 {
		margin-top: 24px;
	}

	&_mt-32px {
		margin-top: 32px;
	}
}