.confirm-payment {
	margin-top: 24px;

	&__header {
		font-size: 36px;
		font-weight: 700;
		color: #333;
	}

	&__descr {
		color: #5A637A;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		margin-top: 18px;
	}

	&__wrapper {
		display: flex;
	}
}