.my-tickets {
	width: 1127px;
	
	&__header {
		font-size: 24px;
		font-weight: 400;
		margin-top: 50px;
	}

	&__descr {
		font-size: 16px;
		font-weight: 400;
		color: #5A637A;
		margin-top: 11px;
	}

	&__message {
		font-size: 22px;
		font-weight: 400;
		margin-top: 50px;
		margin-top: 20px;
	}
}